:root {
    --text-color:#9a9ea7;
    --white-color:#fff;
    --text-title:#555555;
    --font-text-normal:1.4rem;
    --font-text-title:1.7rem;

}
* {
    box-sizing: inherit;
    letter-spacing: 1px;
    color: inherit;

}
html {
    box-sizing: border-box;
    font-family: 'Mukta', sans-serif;
    font-size: 62.5%; /*100%=16px => 1%=0.16 =>0.16*62.5=10px=10px => 1 rem= 10px ======>14px=1.4rem */
}
.grid {
    width: 1200px;
    max-width: 100%;
    margin:0 auto;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}
.grid__colum-3 {
    width: calc(100% / 3);
    padding: 15px;

}

ul {
    list-style: none;
}
.app {
    overflow: hidden;
}
.yellow-to-orange {

    background: linear-gradient(to right, #ffd205 0%, #ff9b05 100%);
}
.orange-to-pink {
    background: linear-gradient(to right, #f76570 0%, #f78d65 100%);
}
.violet-to-pink {
    background: linear-gradient(to right, #ba71da 0%, #da717b 100%);
}