header {
    background-color: rgba(83, 81, 92,0.6);
    padding: 20px 0;
    z-index: 1;
    position: relative;
    
}
.grid__header {
    width: 1400px;
    max-width: 100%;
    margin:  0 auto;
}
.header__navigation {
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    padding: 0 15px;
}

.header__logo img {
    width: 160px;
}

.header__list-navigation {
   display: flex;
   list-style: none;
   margin: 0;
   flex:1;
   padding: 0 15px;
   margin-left: 40px;
}

.header-navigation__item {
    display: flex;
    align-items: center;
    position: relative;
}

.header-item__link {
    font-size: var(--font-text-normal);
    text-decoration: none;
    color: var(--white-color);
    text-transform: uppercase;
    display: block;
    padding:25px 15px;
    font-weight: 500;
    word-spacing: 3px;
}

.header-item__link  {
    margin-left: 15px;
    position: relative;
}

.section__link-active--hot::after{
    content: "HOT";
    float: right;
    background-color: #f76570;
    border-radius: 3px;
    color: #fff;
    font-size: 10px;
    line-height: 10px;
    padding: 3px 5px;
}   
.section__link-active--new::after{
    content: "NEW";
    float: right;
    background-color: #1bbc9b;
    border-radius: 3px;
    color: #fff;
    font-size: 10px;
    line-height: 10px;
    padding: 3px 5px;
}  
.section__link-active--best::after{
    content: "BEST";
    float: right;
    background-color: #14b9d5;
    border-radius: 3px;
    color: #fff;
    font-size: 10px;
    line-height: 10px;
    padding: 3px 5px;
}   
.header__menu--img {
    width: 25px;
}
.header__menu {
    padding: 0 15px;
    position: relative;
}
.header-item__link.header-item__link--active {
    margin-left: 25px;
    padding: 12px 15px 10px;
    background-color: #ba71da;
    border-radius: 100px;
}

.header__section {
    min-width: 190px;
    background-color: var(--white-color);
    position: absolute;
    padding: 0;
    box-shadow: 0px 2px 5px #f1f1f1;
    
}

.header__section--one {
    top:100%;
    left: 0;
    display: none;
}

.header__section--second {
    left: calc(100% + 26px);
    top:0;
    display: none;
}

.section__item {
    width: 100%;
    position: relative;
}

.section__item:hover {
    background-color: #f9f9f9;

}

.section__link {
    text-decoration: none;
    color: var(--text-color);
    font-size: var(--font-text-normal);
    display: block;
    padding: 15px 25px;
    border: 1px solid #f5f5f5;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
}
.section__item--active:hover .header__section--second {
    display: block;
}

.header-navigation__item--active:hover .header__section--one {
    display: block;
}


/*slide bar header */

.header__slide-bar {
  position: fixed;
  width: 330px;
  bottom: 0;
  right: 0;
  top:0;
  background-color:var(--white-color);
  overflow-y: hidden;
  border: 1px solid var(--text-color);
  border-top: none;
  border-right: none;
  overflow-y: scroll;
  transform: translateX(100%);
  transition: transform ease-in-out 0.9s;
}

.header__menu:hover .header__slide-bar {
    transform: translateX(0%);  
}

.slide-bar__wrap {

}

.slide-bar__tour {
    padding: 0px 15px 0px 30px;
}

.tour__title {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-transform: uppercase;
    padding: 15px 0px;
}

.tour__title-slogan {
    font-size: var( --font-text-title);
    color: var(--text-color);
    margin-bottom: 8px;
}

.tour__title-package {
    font-size: 2.5rem;
    margin: 0;
    font-weight: 900;
    position: relative;
    color: #555555;
    z-index: 100000;
    
}

.tour__title-package::after {
    content: "";
    display: block;
    width: 100%;
    background-color: #ffd112;
    height: 6px;
    position: absolute;
    top: 50%;
    z-index: -9;
}


   
.tour__package--undeline {

}

.tour__place {
    padding: 25px 0px;/*tam thoi sua lai sau*/
}

.tour-place__wrap {
    display: flex;
    padding-top: 15px;
    padding-bottom: 15px;
}

.tour__img {
    padding-right: 30px;
}
.tour__img img {
    width: 100px;
}

.tour__destions {
    flex: 1;
}

.tour__place-name {
    color:var(--text-title);
    font-size: 2rem;
    font-weight: 200;
    margin: 0;
    margin-top: 5px;

}

.tour__adress {
    color:var(--text-color);
    font-size: 1.5rem;
    margin-top: 6px;
}
.tour__adress i {
    font-size: 1.5rem;
    margin-right: 3px;
}
.tour__price {
    width: 100%;
    border: none;
    border-radius: 50px;
    font-size: 1.4rem;
    text-align: center;
    padding: 5px;
    color: var(--white-color);
    text-transform: uppercase;
}

.tour__price--dolar {

}

.tour__packages {
    position: relative;
}

.tour__packages:hover .tour__wrap--packages-view {
    opacity: 1;
    z-index: 1;
    
    
}
.tour__packages--img::after {
    content: "";
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom, rgba(101,100,96,0) 0%,rgba(101,100,96,0.1) 60%,rgba(101,100,96,0.65) 100%);
    position: absolute;
    top: 0;
    left:0;
}

.tour__packages--img {
        position: relative;
}

.tour__packages--img img {
    width: 100%;
    
}

.tour__packages-inside {
    position: absolute;
    top: 0;
    padding: 25px;
    width: 100%;
    height: 100%;
}

.tour__information {
        color: var(--white-color);
        
}

.tour__packages-name {
    font-size: 1.9rem;
    font-weight: 900;
    margin: 0;

}

.tour__packages-nums {
    font-size: 1.5rem;
    margin: 10px 0px;
    text-transform: uppercase;
    font-weight: 200;
}

.tour__wrap--packages {
    display: flex;
    flex-direction:column;
    height: inherit;
    justify-content: space-between;
}

.tour__inside--img {
   width: 35px;
   
}


.tour__wrap--packages-view {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #14b9d5;
    align-items: center;
    opacity: 0;
    z-index: -8;
    transition:opacity ease-in-out 0.9s;
}

.tour-packages__title {
    color: var(--white-color);
    font-size: 1.9rem;
    text-align: center;
    
}

.tour-packages-view__adress {
    flex: 1;
}

.tour-packages__item {
    text-align: center;
    font-size: 1.4rem;
    color:var(--white-color);
    font-weight: 400;
    margin: 10px 0px;
}

.tour-packages__view-btn {
    width: 100%;
    border: none;
    border-radius:50px ;
    padding: 15px;
    font-size: 1.4rem;
    text-transform: uppercase;
    color: #14b9d5;;
    background-color: var(--white-color);
    
}

